{% extends 'base.html.twig' %}

{% block title %}BMI Calculation{% endblock %}

{% block body %}
    <div class="bmi-container">
        <div class="bmi">
            <h1>Your BMI: <span class="color-green">{{ bmiValue|number_format(2) }}</span> - {{ bmiCategory }}</h1>
            <p>
                BMI, or Body Mass Index, is a measure that uses your height and weight to work out if your weight is in
                a healthy range.
                It's a useful tool to identify whether you are underweight, normal weight, overweight, or obese.
                The calculation divides an adult's weight in kilograms by their height in meters squared.
                For most adults, an ideal BMI is in the range of 18.5 to 24.9.
            </p>
            <p>
                In your Dietify profile, your BMI is automatically calculated based on the height and weight you have
                entered.
                Whenever you update your profile with new measurements, your BMI will reflect these changes accordingly.
            </p>
            <p>Here are the BMI categories as used in Dietify:</p>
            <div class="categories">
                <p class="categories__tile">Less than <span class="color-green"> 16 </span>: Severely underweight</p>
                <p class="categories__tile"><span class="color-green"> 16 </span> to <span class="color-green"> 18.5 </span>: Underweight</p>
                <p class="categories__tile"><span class="color-green"> 18.5 </span> to <span class="color-green"> 25 </span>: Normal (healthy weight)</p>
                <p class="categories__tile"><span class="color-green"> 25 </span> to <span class="color-green"> 30 </span>: Overweight</p>
                <p class="categories__tile"><span class="color-green"> 30 </span> to <span class="color-green"> 35 </span>: Obese Class I (Moderately obese)</p>
                <p class="categories__tile"><span class="color-green"> 35 </span> to <span class="color-green"> 40 </span>: Obese Class II (Severely obese)</p>
                <p class="categories__tile">More than <span class="color-green"> 40 </span>: Obese Class III (Very severely obese)</p>
            </div>
            <p>It's important to note that BMI is a simple and useful indicator of a healthy body weight, but it doesn't
                measure body fat directly and can sometimes be misleading, especially in muscular individuals or those
                with a health condition that affects body weight. Always consult a healthcare provider for the
                most comprehensive assessment of your health.</p>
        </div>
    </div>
    {% block javascripts %}
        {{ parent() }}
    {% endblock %}
{% endblock %}