{% block footer %}
    <footer class="footer">
        <div class="footer-container">
                <span><a href="https://github.com/ArekKluczek/Dietify">Github</a></span>
                <span><a href="https://www.linkedin.com/in/arek-kluczek/">Linkedin</a></span>
                <span>&copy Arkadiusz Kluczek 2024</span>
        </div>
    </footer>
{% endblock %}