{% block footer %}
    <footer class="footer">
        <div class="footer__container">
            <span>&copy Arkadiusz Kluczek 2024</span>
            <div class="footer__media">
                <span><a href="https://github.com/ArekKluczek/Dietify"><img
                                src="{{ asset('build//images/Github.svg') }}" alt="Github"></a></span>
                <span><a href="https://www.linkedin.com/in/arek-kluczek/"><img
                                src="{{ asset('build//images/Linkedin.svg') }}" alt="Linkedin"></a></span>
            </div>
        </div>
    </footer>
{% endblock %}