<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Dietify{% endblock %}</title>
    <link rel="icon" href="{{ asset('build//images/DietifyLogo.png') }}">
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>
{% include 'header/header.html.twig' %}

{% block body %}
    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
{% endblock %}
<div id="throbber" class="throbber-container" style="display: none;">
    <div class="spinner"></div>
</div>
{% include 'footer/footer.html.twig' %}
</html>
