{% extends 'base.html.twig' %}
{% block body %}
    <main class="main">
        <div class="how-it-works-container">
            <h1 class="how-it-works-title">How It Works</h1>
            <div id="how-it-works" class="step step-toggle">
                <p class="step-title">Step 1: Your Personal Profile</p>
                <p class="step-text hidden">
                    Start your journey by creating a personal profile. Dietify's seamless interface makes it easy to enter your dietary preferences, allergies, fitness goals, and more.
                    Customize your nutrition plan, track progress, avoid restricted foods, and receive tailored meal suggestions.</p>
            </div>
            <div id="ai-integration" class="step step-toggle">
                <p class="step-title">Step 2: AI Integration</p>
                <p class="step-text hidden"> After you've input your details, it's time for our cutting-edge tech to take the stage.
                    Dietify utilizes the advanced capabilities of GPT-4 to sift through your data. By leveraging
                    OpenAI's latest AI model, we ensure that every meal plan is not only customized but also
                    optimized for your nutritional needs.
                </p>
            </div>
            <div id="generating" class="step step-toggle">
                <p class="step-title">Step 3: Generating Deliciousness</p>
                <p class="step-text hidden"> With the power of GPT-4, Dietify goes to work creating a variety of meal options that are
                    bound to satisfy your
                    taste buds and support your health objectives. Our AI sifts through thousands of recipes and
                    dietary
                    combinations to design a meal plan that's as unique as you are.
                </p>
            </div>
            <div id="learning" class="step step-toggle">
                <p class="step-title">Step 4: Continuous Learning</p>
                <p class="step-text hidden">Our AI doesn't just stop at creating a meal plan. It learns from your feedback and choices,
                    refining and
                    improving the meal suggestions with every interaction. As your tastes evolve or your goals
                    shift, Dietify
                    adapts, ensuring your meal plans remain deliciously relevant.
                </p>
            </div>
            <div id="enjoy-meals" class="step step-toggle">
                <p class="step-title">Step 5: Enjoy Your Meals</p>
                <p class="step-text hidden"> Once your custom meal plan is set, all that's left is for you to enjoy the mouthwatering
                    meals. Each recipe is
                    crafted to be easy-to-follow, ensuring you spend less time cooking and more time enjoying
                    the flavors. Dietify
                    turns healthy eating into a delight, not a chore.
                </p>
            </div>
        </div>
    </main>
    <div class="elipse"></div>
    {% block javascripts %}
        {{ parent() }}
    {% endblock %}
{% endblock %}
